body{
    background-image: url(../images/Reference\ 1.jpg); 
     height: 6500px; 
    font-family: 'Poppins', 'Arial', sans-serif;
}

/* Common Styles */
.container{
   width: 1140px;
   margin: 0 auto;
}
.primary-btn{
    background: #106eea;
    display: inline-block;
    padding: 8px 13px;
    color: #fff;
    border-radius: 4px;
    text-decoration: none;
}
.secondary-btn{
    color:  #000;
    text-decoration: none;
    line-height: 20px;
}
.secondary-btn i{
     font-size: 16px;
     color: #106eea;
     padding-right: 5px;
}
.section-title{
    text-align: center;
    padding: 38px;
}
.section-title h4{
    padding-bottom: 14px;
    font-size: 20px;
}
.section-title h4 span{
    background-color: #e7f1fd;
    border-radius: 14px;
    padding: 7px 17px;
    display: inline-block;
    color: #106eea;
    font-size: 18px;
    font-weight: 100px; 
}
.section-title h2{
    font-size: 20px;
    color: #444444;
    margin-bottom: 14px;  
}
.section-title h2 span{
    color: #106eea; 
}
.section-title p{
    max-width: 602px;
    margin: auto;
    line-height: 18px;
    font-size: 14px;
}

/* Quick Links */
#quick-links{
    background-color: #106EEA;
    height: 40px;
}
#quick-links .f-container{
    display: flex;
    justify-content: space-between;
    padding-top: 13px;
}
#quick-links .f-container .f-item{
    text-decoration: none;  
    color: #FFFFFF; 
    font-size: 15px;
}
#quick-links .f-container .f-item a{
    text-decoration: none;
    color: #C4DCFA;
    padding: 11px;
    font-size: 14px;
}    

/* Header */
#header{
    height: 95px;
    background-color: #FFFFFF;
}
#header .f-container{
    display: flex;
    justify-content: space-between;
}
#header .f-container .f-item{
    padding-top: 30px;
    color: #222222;
}
#header .f-container .f-item h1{
   font-size: 30px;
}
#header .f-container .f-item span{
    color: #106EEA;
}
#header .f-container .f-item a{
    padding: 10px;
    color: #707070;
    font-size: 12px;
    font-weight: 700;
    text-decoration: none;
}

/* Welcome */
#banner{
    height:600px;
    background-image: url(../images/reference2.jpg);
    background-size: cover;
    position: relative;
}
#banner .white-overlay {
    background: rgba(255, 255, 255, 0.6);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}
#banner .f-container{
    display: flex;
    position: relative;
    z-index: 2;
}
#banner h1{
    padding-top: 200px;
    font-size: 35px;
    padding-bottom: 15px;
}
#banner h1 span{
    color: #106eea;
}
#banner p{
    color: #737A7D;
    font-size: 17px;
    padding-bottom: 30px;
}

#banner .cta-wrapper a.primary-btn{
    margin-right: 10px;
    padding: 10px 21px;
    font-size: 15px;
}

/* Highlights */
#highlights{
    height: 200px;
    background-color: #FFFFFF;
    padding: 58px 0 0 0;
}
#highlights .f-container{
    display: flex;
    justify-content: space-around;
}
#highlights .f-item{
    background-color: #fff;
    flex-basis: 18%;
    padding: 17px;
    box-shadow: #d5d5d5 0px 0px 10px;
    border-radius: 8px;
}
#highlights .f-item i{
     color: #106eea;
     font-size: 29px;
}
#highlights .f-item h4{
     padding-top: 15px;
     font-size: 17px;
}
#highlights .f-item p{
     padding-top: 15px;
     font-size: 13px;
     color: #444444;
}

/* About */
#about{
    height: 808px;
    background-color: #f6f9fe;
}
#about .section-title{
    height: 155px;
}
#about .section-content .f-container{
    display: flex;
    justify-content: space-around;
    padding: 20px;
}
#about .section-content .f-item{
    background-color: #fff;
    flex-basis: 33%;
    padding: 20px;
    border: 1px solid white;
    border-radius: 2px; 
}

/* Skills */
#skills{
    height: 160px;
    background-color: #FFFFFF;
}
#skills .f-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 170px;
}
#skills .f-item{
    flex-basis: 24%;
    padding: 6px ;
    text-align: center;
}
/* Statistics */
#statistics{
    height: 260px;
    background-color: #FFFFFF;
}
#statistics .f-container{
    display: flex;
    justify-content: space-around;
    padding-top: 29px;
}
#statistics .f-item{
    background-color: #F1F6FE;
    flex-basis: 14%;
    padding: 30px;
    text-align: center;
    border: 1px solid #FFFFFF;
}
#statistics .f-item h4{
    font-size: 20px;
    font-weight: 500;
}
#statistics .f-item p{
    font-size: 13px;
    padding: 9px;
}
#statistics .f-item img{
    max-width: 50px;
}
/* Clients */
#clients{
    height: 80px;
    background-color: #F6F9FE;
}
#clients .f-container{
     display: flex;
     justify-content: space-around;
}
#clients .f-item{
    flex-basis: 4%;
    padding: 30px;
}
#clients .f-item img{
     max-width: 65px;
}

/* Service */
#service{
    height: 600px;
    background-color: #FFFFFF;
}
#service .section-title{
    height: 100px;
}
#service .section-content .f-container{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
}
#service .section-content .f-item{
    background-color: #fff;
    flex-basis: 26%;
    padding: 17px;
    margin-bottom: 25px;
    border: 1px solid #E2EEFD;
    text-align: center;
}
 #service .section-content .f-item i{
     color: hsl(214, 84%, 51%);
     background-color: #F1F6FE;
     border: 1px solid #DEEBFD;
     border-radius: 2px;
     padding: 15px;
     font-size: 28px;
}
#service .section-content .f-item h4{
     padding-top: 45px;
     font-size: 23x;
}
#service .section-content .f-item p{ 
     padding-top: 24px;
     font-size: 13px;
}

/* Testimonials */
#testimonials{
    height: 701px;
    background-image: url(../images/home.jpg);
}

/* Portfolio */
#portfolio{
    height: 500px;
    background-color: #FFFFFF; 
}

/* Team */
#team{
    height: 600px;
    background-color: #f6f9fe; 
}
#team .section-title{
    height: 78px;
}
#team .section-content .f-container{
    display: flex;
    justify-content: space-around;
}
#team .section-content .f-item{
    background-color: #fff;
    flex-basis: 14%;
    box-shadow: #d5d5d5 0px 0px 15px;
    border-radius: 5px; 
}
#team .section-content .f-item img{
    max-width: 215px;
    padding: 35px;
}
#team .section-content .f-item h4{
    font-size: 16px;
    padding: 16px;
    text-align: center;
}
#team .section-content .f-item p{
    color: hsl(0, 3%, 31%);
    font-size: 13px;
    padding-left: 14px;
    padding-bottom: 14px;
    text-align: center;
}

/* Pricing */
#pricing{
    height: 1428px;
    background-color: #FFFFFF; 
}
#pricing .section-title{
    height: 250px;
}
#pricing .section-content .f-container{
    display: flex;
    justify-content: space-around;
}
#pricing .section-content .f-item{
    background-color: #fff;
    flex-basis: 22%;
    border: 1px solid rgb(204, 193, 193);
    border-radius: 2px; 
}
/* FAQ */
#faq{
    height: 550px;
    background-color: #f6f8fa;
}
#faq .section-title{
    height: 100px;
}
#faq .section-content .f-container{
    display: flex;
    flex-wrap: wrap;
}
#faq .section-content .f-item{
    line-height: 50px;
    color: hsla(0, 4%, 14%, 0.781);
}
/* Contact */
#contact{
    height: 882px;  
    background-color: #FFFFFF;
}
#contact .section-title{
    height: 90px ;
}
#contact .f-container{
    display: flex;
    flex-wrap: wrap;
}
#contact .f-container i{
    font-size: 20px;
    color: #1558af;
    border: 2px dotted  #0e4ea1;
    padding: 6px;
    border-radius: 20px;
}
#contact .f-container h3{
    color: #0b6cad;
    padding-top: 20px;
    font-size: 18px;
    font-weight: 600;
}
#contact .f-container p{
    padding-top: 15px;
    font-size: 14px;
}
#contact .f-item{
    background-color: #fff;
    box-shadow: #d5d5d5 0px 0px 10px 2px;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 5px;
    padding-right: 5px;
    margin: 13px;
}
#contact .f-item.size-a{
    flex-basis: 45%;
}
#contact .f-item.size-x{
    flex-basis: 20%;
}
#contact .f-item.size-a iframe{
    box-shadow: none;
    
}
#contact .f-item.size-a  form .form{
    padding-top: 5px;
}
#contact .f-item.size-a form .form input{
    padding: 5px;
    border: 1px solid #d5d5d5;
}
#contact .f-item.size-a form .subject{
    padding-top: 20px;
}
#contact .f-item.size-a form .subject input[type="text"]{
    padding: 5px;
    padding-right: 193px;
    border: 1px solid #d5d5d5;
}
#contact .f-item.size-a form .message{
    padding-top: 20px;
}
#contact .f-item.size-a form .message textarea{
    font-family: 'Poppins', 'Arial', sans-serif;
    padding-right: 228px;
    padding-bottom: 175px;
    border: 1px solid #d5d5d5;
}
#contact .f-item.size-a form .sendmessage{
    padding-top: 25px;
}
#contact .f-item.size-a form .sendmessage input[type="submit"]{
    padding: 10px;
    font-size: 14px;
    border: none;
    border-radius: 6px;
    color: #FFFFFF;
    background-color: #106EEA;
}
/* Newsletter */
#newsletter{
    height: 238px;
    background-color: hsl(217, 12%, 87%);;
}
#newsletter .section-title{
    padding: 36px;
    color: #131111;
}
#newsletter .section-title h4{
     font-size: 18px;
     text-align: center;
     padding-bottom: 22px; 
}
#newsletter .section-title p{
      font-size: 14px;
      text-align: center;
}
#newsletter .section-content{
    text-align: center;
    font-size: 15px;
}   
#newsletter .section-content form input[type="email"]{
    border: none;
    padding: 10px 120px;
    border-radius: 4px 0px 0px 4px;
    box-shadow: #c0baba 0px 0px 5px;
}
#newsletter .section-content form input[type="submit"]{
    border: none;
    padding: 7px 10px;
    font-size: 15px;
    color: #FFFFFF;
    background-color: #106EEA;
    border-radius: 0px 4px 4px 0px;
    box-shadow: #d5d5d5 0px 0px 5px;
}

/* Footer */
#footer{
    height: 340px;
    background-color: #FFFFFF;
}
#footer .f-container{
    display: flex;
    justify-content: space-around;
}
#footer .f-item{
   flex-basis: 19%;
   padding: 3px;
   font-size: 14px;
}

/* Legals */
#legals{
    height: 60px;
    background-color: #F1F6FE;
}
#legals .f-container{
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
}
#legals .f-container .f-item{
    font-size: 14px;
}     
#legals .f-container .f-item p{
    text-decoration: none; 
    color: #737A7D;
}  
#legals .f-container .f-item span{
    color: #106EEA;
}