body{
    background-image: url('../images/reference.png');
    height: 6736px;
    font-family: 'Poppins', 'Arial', sans-serif;
}

/* Common Styles */
.container{
   width: 1140px;
   margin: 0 auto;
}
.primary-btn{
    background: #106eea;
    display: inline-block;
    padding: 8px 13px;
    color: #fff;
    border-radius: 4px;
    text-decoration: none;
}
.secondary-btn{
    color:  #000;
    text-decoration: none;
    line-height: 20px;
}
.secondary-btn i{
     font-size: 20px;
     color: #106eea;
     padding-right: 5px;
}
.section-title{
    text-align: center;
    padding: 44px;
}
.section-title h4{
    padding-bottom: 14px;
}
.section-title h4 span{
    background-color: #e7f1fd;
    border-radius: 14px;
    padding: 7px 17px;
    display: inline-block;
    color: #106eead8;
    font-size: 12px;
    font-weight: 100px; 
}
.section-title h2{
    font-size: 25px;
    color: #444444;
    margin-bottom: 14px;  
}
.section-title h2 span{
    color: #106eea; 
}
.section-title p{
    max-width: 587px;
    margin: auto;
    line-height: 18px;
}

/* Quick Links */
#quick-links{
    background-color: #f3ec2059;
    height: 30px;
}
#quick-links .f-container{
    display: flex;
    justify-content: space-between;
}
#quick-links .f-container .f-item{}    

/* Header */
#header{
    height: 70px;
    background-color: #b58fbca6;
}
#header .f-container{
    display: flex;
    justify-content: space-between;
}
#header .f-container .f-item{}    

/* Welcome */
#banner{
    height: 445px;
    background-image: url(../images/Reference\ 1.jpg);
    background-size: cover;
    position: relative;
}
#banner .white-overlay {
    background: rgba(0, 217, 255, 0.473)
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}
#banner .f-container{
    display: flex;
    position: relative;
    z-index: 2;
}
#banner h1{
    padding-top: 165px;
    font-size: 36px;
    padding-bottom: 10px;
}
#banner h1 span{
    color: #106eea9c;
}
#banner p{
    font-size: 16px;
    padding-bottom: 23px;
}
#banner .cta-wrapper{}
#banner .cta-wrapper a{}
#banner .cta-wrapper a.primary-btn{
    margin-right: 10px;
}
#banner .cta-wrapper a.secondary-btn{
    
}
/* Highlights */
#highlights{
    height: 217px;
    background-color: #00aeff41;
    padding: 58px 0 0 0;
}
#highlights .f-container{
    display: flex;
    justify-content: space-around;
}
#highlights .f-item{
    background-color: #fff;
    flex-basis: 18%;
    padding: 14px;
    box-shadow: #d5d5d5 0px 0px 15px;
    border-radius: 8px;
}

/* About */
#about{
    height: 610px;
    background-color: #f6f9fe;
}
#about .section-title{
    height: 155px;
}
#about .section-content .f-container{
    display: flex;
    justify-content: space-around;
    padding: 20px;
}
#about .section-content .f-item{
    background-color: #fff;
    flex-basis: 41%;
    padding: 24px;
    border: 1px solid white;
    border-radius: 2px; 
}

/* Skills */
#skills{
    height: 200px;
    background-color: #632aa52d;
}
#skills .f-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}
#skills .f-item{
    flex-basis: 28%;
    padding: 20px ;
}

/* Statistics */
#statistics{
    height: 198px;
    background-color: #6b312fb7;
}
#statistics .f-container{
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
}
#statistics .f-item{
    background-color: #02241f36;
    flex-basis: 14%;
    padding: 28px;
    border: 1px solid #011d1707;
}

/* Clients */
#clients{
    height: 74px;
    background-color: hsla(231, 100%, 50%, 0.11);
}
#clients .f-container{
     display: flex;
     justify-content: space-around;
}
#clients .f-item{
    flex-basis: 4%;
    padding: 30px;
}

/* Service */
#service{
    height: 747px;
    background-color: #FFFFFF;
}
#service .section-title{
    height: 100px;
}
#service .section-content .f-container{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around 
}
#service .section-content .f-item{
    background-color: #fff;
    flex-basis: 23%;
    padding: 25px;
    margin-bottom: 25px;
    border: 1px solid #E2EEFD;
    text-align: center;
}
 #service .section-content .f-item i{
     color: hsla(214, 91%, 9%, 0.89);
     background-color: #F1F6FE;
     border: 1px solid #DEEBFD;
     border-radius: 2px;
     padding: 15px;
     font-size: 40px;
}
#service .section-content .f-item h4{
     padding-top: 45px;
     font-size: 15px
}
#service .section-content .f-item p{ 
     padding-top: 24px;
     font-size: 15px;
}

/* Testimonials */
#testimonials{
    height: 326px;
    background-color: #a0522d66;
}

/* Portfolio */
#portfolio{
    height: 1077px;
}

/* Team */
#team{
    height: 500px;
    background-color: #f6f9fe; 
}
#team .section-title{
    height: 155px;
}
#team .section-content .f-container{
    display: flex;
    justify-content: space-around;
}
#team .section-content .f-item{
    background-color: #fff;
    flex-basis: 22%;
    border: 1px solid white;
    border-radius: 2px; 
}
#team .section-content .f-item h4{
      padding:25px;
}
#team .section-content .f-item p{
    padding: 3px;
    font-size: 13px;
    color: grey;
}
#team .section-content .f-item img{
    max-width: 170px;
    padding:20px ;
}
/* Pricing */
#pricing{
    height: 539px;
}
#pricing .section-title{
    height: 155px;
}
#pricing .section-content .f-container{
    display: flex;
    justify-content: space-around;
}
#pricing .section-content .f-item{
    background-color: #fff;
    flex-basis: 22%;
    border: 1px solid #0bf0d121;
    border-radius: 2px; 
}
/* FAQ */
#faq{
    height: 493px;
    background-color: #f6f9fe;
}
#faq .section-title{
    height: 120px;
}
#faq .section-content .f-container{
    display: flex;
    flex-wrap: wrap;
}
#faq .section-content .f-item{
    line-height: 37px;
    color: rgba(0, 75, 126, 0.445);
}

/* Contact */
#contact{
    height: 662px;  
}
#contact .section-title{
    height: 238px ;
}
#contact .section-content{}
#contact .f-container{
    display: flex;
    flex-wrap: wrap;
}
#contact .f-item{
    background-color: rgba(255, 255, 255, 0.164);
    border: 1px solid white;
    text-align: center;
    padding: 20px;
    margin: 20px;
}
#contact .f-item.size-a{
    flex-basis: 17%;
}
#contact .f-item.size-z{
    flex-basis: 24%;
}


/* Newsletter */
#newsletter{
    height: 177px;
}

/* Footer */
#footer{
    height: 255px;
}
#footer .f-container{
    display: flex;
    justify-content: space-around;
}
#footer .f-item{
   flex-basis: 12%;
   padding: 45px;
}

/* Legals */
#legals{
    height: 57px;
}
#legals .f-container{
    display: flex;
    justify-content: space-between;
}
#legals .f-container .f-item{}    
